.project-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 30%;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px -3px black;
}

.form-title{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 20px;
}

.project-form input {
    width: 300px;
    height: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(94, 184, 222, 0.5);
    outline: none;
}

.project-form textarea {
    width: 300px;
    height: 100px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(94, 184, 222, 0.5);
    outline: none;
    resize: none;
}

.close-form{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    color: rgb(50, 50, 50);
    font-size: 20px;
    cursor: pointer;
}

.inputs-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 35px;
    /* background-color: var(--background-color); */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.import-icon{
    width: 40px;
}