@font-face {
  font-family: 'Parkinsans';
  src: url('./src/assets/fonst/Parkinsans-Bold.ttf');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
}